@import url("http://fonts.cdnfonts.com/css/gotham");
/* font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */

body {
    //background: rgba(18, 18, 16, 0.611);
    background: rgb(0, 0, 0);
    background: linear-gradient(
        3deg,
        rgba(0, 0, 0, 1) 7%,
        rgba(0, 0, 0, 1) 38%,
        rgba(0, 0, 0, 0.8827906162464986) 76%
    );
    color: #ececec;
}

#album-page-hero {
    background: rgb(217, 2, 216);
    background: linear-gradient(
        45deg,
        rgba(217, 2, 216, 1) 7%,
        rgba(116, 39, 167, 1) 38%,
        rgba(60, 0, 119, 1) 76%
    );
}

#time-icon {
    margin-left: px;
}

.title-song {
    padding-left: 25px;
}

.singer-name {
    margin-left: 36px;
    font-size: 14px;
}

.dropdown-menu {
    background: rgb(18, 18, 16);
    background: linear-gradient(
        0deg,
        rgba(56, 3, 3, 0.555) 0%,
        rgb(109, 6, 17) 58%,
        rgba(49, 1, 7, 0.342) 100%
    );
}

.dropdown-menu a {
    color: #e0dbdb;
}

.dropdown-menu a:hover {
    background: rgb(18, 18, 16);
    background: linear-gradient(
        0deg,
        rgba(56, 3, 3, 0.555) 0%,
        rgb(109, 6, 17) 58%,
        rgba(49, 1, 7, 0.342) 100%
    );
    color: #e0dbdb;
}

.album-page-album-info img {
    height: 22px;
    border-radius: 2rem;
}
/*  ------------- play heart ...  ----------------------------*/
.bi-heart {
    color: #e0dbdb;
    font-size: 35px;
    align-content: center;
}
#time-icon {
    margin-left: px;
}

.singer-name {
    margin-left: 36px;
    font-size: 14px;
}
