
html::-webkit-scrollbar {
    width: 0.75vw;
}
html::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, 0.871);

    height: 1rem;
}
html::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.076);
    height: 80vh;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(123, 123, 123, 0.871);
}

/*----------------- gradients -----------------------*/
.gradient-container1 {
    width: 100%;
    height: 50vh;
    background: rgb(217, 2, 216);
    background: linear-gradient(
        45deg,
        rgba(217, 2, 216, 1) 7%,
        rgba(116, 39, 167, 1) 38%,
        rgba(60, 0, 119, 1) 76%
    );
}
.gradient-container2 {
    width: 100%;
    height: 100vh;
    background: rgb(134, 134, 134);
    background: linear-gradient(
        180deg,
        rgba(28, 28, 28, 0.152) 32%,
        rgba(14, 14, 14, 0.494) 37%,
        rgba(4, 4, 4, 0.789) 45%,
        rgba(0, 0, 0, 0.809) 46%,
        rgba(0, 0, 0, 1.857) 51%,
        rgba(0, 0, 0, 5.891) 53%,
        rgba(0, 0, 0, 0.939) 54%,
        rgb(7, 7, 7) 71%
    );
}
/*----------------- body -----------------------*/
body {
    background-color: black;
    /*background: linear-gradient(
        3deg,
        rgba(0, 0, 0, 1) 7%,
        rgba(0, 0, 0, 1) 38%,
        rgba(0, 0, 0, 0.8827906162464986) 76%
    )*/
    color: #ececec;
}
.container {
    margin-right: 0px;

@import url("http://fonts.cdnfonts.com/css/gotham");
/* font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */

body {
    background: rgb(166, 166, 166);
    background: linear-gradient(
        180deg,
        rgb(55, 55, 55) 7%,
        rgb(31, 31, 31) 16%,
        rgb(29, 29, 29) 76%
    );
    color: #ececec;
    z-index: 0;
}

main {
    position: relative;
}

/*----------------- horizontal nav----------------------*/

.navbar-col {
    display: flex;
    justify-content: end;
    align-items: end;
}
.navbar-btn {
    border-radius: 50px;
    background: rgb(2, 2, 2);
    border-color: rgb(2, 2, 2);
}

.arrows {
    position: absolute;
    top: 0;
    padding-top: 15px;
    padding-left: 15px;
}

.arrow2,
.arrow1 {
    background-color: rgb(59, 59, 59);
    border-radius: 50%;
    cursor: pointer;
}

.profile-picture-button {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.profile-picture-dropdown {
    background-color: rgba(0, 0, 0, 0.7);
    padding-right: 0.4em;
    padding-left: 0.1em;
    align-items: center;
    border-radius: 23px;
    font-size: 0.9em;
}

.profile-picture-top-bar {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body
    > div
    > div.all-except-sidebar
    > div:nth-child(1)
    > div
    > div.navbar-col.profile-picture-button
    > div
    > div
    > span {
    font-size: 0.7em;
    padding-left: 0.9em;
    font-weight: 700;
}

body
    > div
    > div.all-except-sidebar
    > div:nth-child(1)
    > div
    > div.navbar-col.profile-picture-button
    > div
    > div
    > i {
    font-size: 0.6em;

}

/*----------------- hero section -----------------------*/

#album-page-hero {

    padding-left: 15px;

    position: relative;

    background: rgb(217, 2, 216);
    background: linear-gradient(
        45deg,
        rgba(217, 2, 216, 1) 7%,
        rgba(116, 39, 167, 1) 38%,
        rgba(60, 0, 119, 1) 76%
    );

}

#hero-img {
    box-shadow: 1px 3px 18px 1px black;
    margin: 15px;
    height: 185px;
    width: 185px;
}
.album-container {
    padding-top: 60px;
    padding-bottom: 10px;
}
#album-page-hero > div > div.row > div.col-12.col-md-9 {
    margin-left: -10px;
}
#album-page-hero > div > div.row > div.col-12.col-md-9 > div {
    padding-left: 35px;
}
/*------------ side nav-------------------------
#navbar {
    background: rgb(2, 2, 2);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    color: #fff;
    height: 80vh;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.p-lists {
    line-height: 8px;
    font-size: 12px;
}
.links-small-nav {
    font-weight: 600;
    opacity: 0.7;
    margin-left: 5px;
    text-align: left;
}
.links-small-nav p {
    padding-left: 5px;
    font-size: 14px;
    overflow: hidden;
    width: 90%;
    text-align: left;
    margin: 0px;
}
.links-small-nav:hover {
    opacity: 1;
}
#navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
}

.hr-nav {
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #6c757d70;
}

#installApp-sticky {
    position: absolute;
    opacity: 0.7;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: white !important;
}

*/

    opacity: 75;
    z-index: -1;
}

#hero-img {
    padding: 15px 15px 15px 0px;
}
/*------------ side nav-------------------------*/
.sidebar {
    background: #000;
    top: 0;
    left: 0;




    color: #fff;
    padding: 20px 0;
    min-width: 190px;
    max-width: 190px;
    padding-right: 15px;
    cursor: pointer;
    border-right: solid 4px black;
    border-bottom: solid 400px rgb(24, 24, 24);
}
.logo {
    margin-left: 5px;
}

body > div > div.sidebar.pl-3 > div.d-flex.flex-column > div > span {
    font-size: 0.8em;
}

body > div > div.sidebar.pl-3 > div.d-flex.flex-column > div:hover {
    background-color: rgb(65, 63, 63);
}

body > div > div.sidebar.pl-3 > div.p-lists {
    font-size: 0.6em;
    color: rgb(93, 94, 95);
}

body > div > div.sidebar.pl-3 > div.p-lists > p,
body > div > div.sidebar.pl-3 > div.p-lists > div > p {
    color: rgb(93, 94, 95);
    cursor: pointer;
}

body > div > div.sidebar.pl-3 > div.p-lists > div:hover {
    background-color: rgb(65, 63, 63);
}

body > div > div.sidebar.pl-3 > div.p-lists > p:hover {
    background-color: rgb(65, 63, 63);
}

hr {
    background-color: rgb(93, 94, 95);
}

.create .bi {
    background-color: rgb(148, 150, 151);
    color: #000;
    padding-right: 4px;
    padding-left: 4px;
}
.heart .bi {
    color: #fff;
    background: rgb(82, 144, 222);
    background: linear-gradient(
        180deg,
        rgba(82, 144, 222, 1) 20%,
        rgba(140, 182, 233, 1) 46%,
        rgba(167, 199, 238, 1) 100%,
        rgba(255, 255, 255, 0) 100%
    );
    padding: 4px 6px;
    font-size: 10px;
}
.p-lists {
    line-height: 8px;
    font-size: 12px;
}


/*------------------- green play icon heart dots -------------------------*/
.bi-play-circle-fill {
    color: #12e25b;
    font-size: 4em;
    cursor: pointer;
}

.bi-heart {
    color: #b5b5b5;


.bi-heart {
    color: #96587e;

    font-size: 35px;
    align-content: center;
    cursor: pointer;
}
#page-heart-icon {
    padding-top: 20px;

    padding-left: 0px;

    padding-left: 23px;

    padding-right: 0px;
}
#page-dots-icon {
    padding: 20px 0px 20px 0px;
    margin-left: -45px;
}
#play-heart-dots {
    padding-left: 30px;
}

/*---------------------  #title clock -------------------*/

}

/*--------------------- icons #title clock -------------------*/

.hashtag-title {
    margin-right: 1.5rem;
    font-size: 1.2rem;
}
#time-icon {
    margin-left: 0px;
}
.clock-icon {
    padding-left: 0px;
}
.hr-page {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 30px;
}

.track-list-icons {
    padding-left: 30px;
}

/*-------------------------- track list -------------------------*/
.album-track-list {
    padding-left: 40px;
}
.track-num {
    padding-left: 20px;

/*-------------------------- track list -------------------------*/
.track-num {

    margin-right: 1.5rem;
}
.title-song {
    padding-left: 25px;
}

.singer-name {

    margin-left: 60px;
    font-size: 14px;
}
.hashtag-title {
    margin-left: 20px;
}

    margin-left: 36px;
    font-size: 14px;
}


.album-page-album-info img {
    height: 22px;
    border-radius: 2rem;
}

#midnigth-protocol {
    margin-left: -9px;
}

/*  ------------- scroll bar main  ----------------------------*/


/*---------------- footer ---------------------------------*/

footer {
    background: rgb(59, 59, 59);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
footer img {
    height: 100px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 6px;
}
.p-song-name {
    font-size: 0.9em;
    margin-top: 30px;
}
.p-artist-name {
    font-size: 0.7em;
    margin-left: -10px;
    margin-top: -10px;
}
.main-progress {
    height: 20%;
    width: 100%;
}
.bi-play-circle {
    font-size: 3em;
}
.volume-progress {
    height: 5%;
    width: 25%;
}
.bi-shuffle {
    font-size: 1.5em;
}
.bi-skip-backward {
    font-size: 1.5em;
}
.bi-skip-forward {
    font-size: 1.5em;
}
.bi-arrow-repeat {
    font-size: 1.5em;
}
.bi-heart {
    font-size: 1.5em;
}
.bi-image {
    font-size: 1.5em;
}
.bi-list {
    font-size: 1.5em;
}
.bi-tv {
    font-size: 1.5em;
}
.bi-volume-up {
    font-size: 1.5em;
}
#footer-pic-icon {
    margin-left: 15px;
}
#footer-shuffle-icon {
    margin-right: 15px;
}
#footer-repeat-icon {
    margin-left: 15px;
}

