body {
    background: rgb(44, 44, 44);
    height: 200vh
}
.first-section {
    font-size: .7em;

}
.second-section-card {
    background:rgb(44, 44, 44);
    min-height: 244px;
    max-height: 244px;
}
.see-all-btn {
    background: transparent;
    border-color: transparent;
}
.see-all-btn-col {
    display: flex;
    justify-content: end;
}
.navbar-col {
    display: flex;
    justify-content: end;
    align-items: end;
}
.navbar-btn {
    border-radius: 50px;
    background:rgb(2, 2, 2);
    border-color:rgb(2, 2, 2);
}
.first-section-img {
    height: 50px;
    width: 50px;
    /* margin-bottom: 10px; */
}
.row-remove-margin {
    margin-bottom: -8px;
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;
    /* border-radius: 30px */
}
.card-body-section1 {
    background: rgb(29, 29, 29);
    color: white;
}
.card-body-section1 p {
    margin-left: -50px;
}
/* .card-body-section1 img {
    
} */
.card-body-section2 {
    color: white;
    background:rgb(29, 29, 29);
    font-size: .7em;
}
.card-body-section2 p {
    color: rgb(177, 174, 174);
    font-size: 1.2em;
}
.card-body-section2 h5 {
    font-size: 1.2em;
}
.card-body-section3 {
    color: white;
    background:rgb(29, 29, 29);
    font-size: .7em;
}
.card-body-section3 p {
    color: rgb(177, 174, 174);
    font-size: 1.2em;
}
.card-body-section3 h5 {
    font-size: 1.2em;
}
.img-second-section {
    padding: 12px;
    background: rgb(29, 29, 29)
}
.img-third-section {
    padding: 12px;
    background:rgb(29, 29, 29);
    border-radius: 36px
}
.card {
    border: 0px;
    background-color: rgb(29, 29, 29);
    word-wrap: break-word;
    overflow: hidden;
}
.container-fluid {
    padding-left: 42px;
    padding-right: 42px;
}
.rounded-pic {
    border-radius: 50%;
}
.third-section-card {
    min-height: 244px;
    max-height: 244px;
    font-size: .9em;
}
/* main {
    padding-left: 16em;
} */



/* sidebar styles */



/* body {
    background: #f5f6fa;
  } */
  
  .wrapper .sidebar {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    color: #fff;
    height: 80vh;
    padding: 20px 0;
    transition: all 0.5s ease;
  }
  .create .bi {
    background-color: #fff;
    color: #000;
    padding: 5px;
  }
  .heart .bi {
    color: #fff;
    background: rgb(82, 144, 222);
    background: linear-gradient(
      180deg,
      rgba(82, 144, 222, 1) 20%,
      rgba(140, 182, 233, 1) 46%,
      rgba(167, 199, 238, 1) 100%,
      rgba(255, 255, 255, 0) 100%
    );
    padding: 5px;
  }
  .p-lists {
    line-height: 8px;
    font-size: 12px;
  }
  
  .scroll-content {
    /* width: 5px;
    height: 10 px; */
    overflow-y: scroll;
  }